%div.row
  %div.col-md-12
    %div.jumbotron
      %h2 Create and Share Wikis
      %p Create as many public wikis as you want. Or upgrade for private wikis!

      %h3 Ready to Start?
      - if current_user
        = link_to "Create a Wiki", new_wiki_path, class: 'btn btn-primary'
        - if !current_user.premium
          OR
          = link_to "Upgrade Your Account", new_charge_path, class: 'btn btn-primary'
      - else
        = link_to "Sign Up for an Account", new_user_registration_path