= form_for [wiki, collaboration] do |f|
  %div.input-group
    = fields_for :user do |user_fields| 
      = user_fields.text_field :email, placeholder: 'Enter Email', id: 'user-email', class: 'form-control'
    %span.input-group-btn
      = f.submit "Add User", class: 'btn btn-default'