= debug @wiki.inspect
= debug @collaboration.inspect

/ = form_for [wiki, collaboration] do |f|
/   %div.form-group
/     = f.label :email
/     = f.text_field :email, id: 'user-email', class: 'form-control'
/   %div.form-group
/     = f.submit "Add"