%div.row
  %div.col-md-12
    %h1 Wiki List
    - if current_user
      = link_to "Create Wiki", new_wiki_path, class: 'btn btn-primary'
    %hr
%div.row
  %div.col-md-8
    - @wikis.each do |wiki|
      %div.media
        %div.media-body
          %h4.media-heading
            = link_to wiki.title, wiki
            - if wiki.private
              <span class="glyphicon glyphicon-lock"></span>
          %em
            = wiki.description
